<!DOCTYPE html>

<html>

<head>
</head>

<body>

  <div id="global-container">

    <div class="top-nav-bar">
      <a href=""> New Route </a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/ruijramos/Sunny-Route"> About </a>
      <a id="weather-info-button" (click)="toggleWeatherInfoSidebar()">
        <mat-icon> menu </mat-icon>
      </a>
    </div>

    <div id="map-and-sidebar-flex-box">

      <div class="map-container" id="map" #map></div>

      <div [ngClass]="{'open': weather_info_is_open}" class="weather-info-sidebar" id="weather-info-sidebar">
        <div id="weather-info-container-title">
          Weather Information
          <br>
          <span class="route-info">{{starting_location}} - {{destination}}</span>
          <span class="route-info">{{date_formated}}</span>
        </div>
        <div id="dinamic-weather-elements">
          @if (is_loading && weatherList.length === 0) {
          <div class="loading-nodata-card">
            Loading weather informations...
          </div>
          }
          @if (!has_data || api_error_occurence) {
          <div class="loading-nodata-card">
            No data to display.
          </div>
          }

          @for (item of weatherList; track item.location) {
          <div class="weather-info">
            <div class="weather-icon-container">
              <img [src]="item.icon" alt="Cloud Weather" class="weather-icon">
            </div>
            <div class="weather-location">
              {{ item.location }}
            </div>
            <div class="weather-value">
              {{ item.weather.temperature | number:'1.0-0' }}º
            </div>
          </div>
          }
        </div>
        <div id="weather-info-pdf" (click)="downloadPDF()">
          @if (is_loading) {
          <mat-icon class="spin"> sync </mat-icon>
          } @else {
          <mat-icon> cloud_download </mat-icon>
          }
        </div>
      </div>

    </div>

  </div>

</body>

</html>