<!DOCTYPE html>

<html>

<head>
</head>

<body>

  <div id="global-container">

    <div class="form-container">
      <form>
        <h3 class="form-title">Let the journey begin!</h3>

        <div class="form-group">
          <label for="starting-location">From:</label>
          <geoapify-geocoder-autocomplete (placeSelect)="onDepartureLocationSelected($event)" id="starting-location" placeholder="Departure location" name="startingLocation" required></geoapify-geocoder-autocomplete>
        </div>

        <div class="form-group">
          <label for="destination">To:</label>
          <geoapify-geocoder-autocomplete (placeSelect)="onDestinationLocationSelected($event)" id="destination" placeholder="Arrival location" name="destination" required></geoapify-geocoder-autocomplete>
        </div>

        <div class="form-group">
          <label for="date">Date:</label>
          <input type="datetime-local" min={{today_date}} max={{five_days_date}} id="date" [(ngModel)]="date"
            name="date" required>
        </div>

        <div class="button-container">
          <button id="submit-button" type="submit" (click)="submitForm()">
            <span *ngIf="!is_loading">Show me the weather!</span>
            <span *ngIf="is_loading">Loading...</span>
          </button>
        </div>
      </form>
    </div>

    <a target="_blank" rel="noopener noreferrer" href="https://github.com/ruijramos/Sunny-Route">
      <img src="../assets/images/cut_logo.png" alt="Sunny Route Logo" id="app-logo">
    </a>

  </div>

</body>

</html>